  <!-- !--------------------------------------------------------------------------------------------------------------Notifications- -->
  <div class="missions-container">
    <div
      style="display: flex; justify-content: space-between; align-items: center"
    >
      <h3>Notification</h3>
    </div>
    <table class="missions-table">
      <thead>
        <tr>
          <th>Type</th>
          <th>Message</th>
          <th>Timestamp</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let n of notifications">
          <td>{{ n.type }}</td>
          <td>{{ n.message }}</td>
          <td>{{ n.timestamp | date : "dd/MM/yyyy HH:mm:ss"  }}</td>
        </tr>
      </tbody>
    </table>
  </div>