<div style="
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  ">
  <div style="
    text-align: center; 
    border-radius: 15px; 
    padding: 50px; 
    transform: translateY(70px);
    background-color: #fff0f0d5; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2); 
    width: 50%; 
    max-width: 500px;">
    <h1 style="
      font-size: 2rem; 
      color: darkred; 
      margin-bottom: 10px;
      font-weight: 700;
      ">
      403 Permission Denied
    </h1>
    <h4 style="
    font-size: 1.3rem; 
    color: darkred; 
    margin-bottom: 20px;">It seems you're trying to enter a restricted sector of the galaxy...</h4>
    <p style="
      font-size: 1.1rem; 
      color: darkred;">
    But alas, your space credentials didn’t pass the planetary security scan! 🛸
    </p>
  </div>
</div>
