/* You can add global styles to this file, and also import other style files */
body {
  font-family: "Inter", sans-serif;
}

/* form validation */
.error-feedback {
  font-size: 0.9rem;
  color: crimson;
  margin: 0.3rem !important;
  margin-top: 0.1rem !important;
}

#main {
  margin-left: 240px;
}

/* side bar */
#sidebar {
  width: 240px;
  position: absolute;
  top: 0px;
  left: 0px;
}

#sidebar li.nav-item a {
  color: #637381;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 0.7rem 1rem;
}

#sidebar li.nav-item:hover {
  background-color: #007fff17;
  border-radius: 0.5rem;
}

.button-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  padding: 20px;
}
.missions-container {
  margin-top: 20px;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.missions-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.missions-table th,
.missions-table td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.missions-table th {
  background-color: #007bff;
  color: white;
}

#notification-table th{
  background-color: #fb0f27;
  color: white;
}

.action-button {
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.action-button:hover {
  opacity: 0.9;
}

.action-button.delete {
  background-color: #dc3545;
  margin-left: 5px;
}

.action-button:not(.delete) {
  background-color: #007bff;
}

.custom-button {
  background: linear-gradient(135deg, #007bff, #00c6ff);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-button2 {
  background: linear-gradient(135deg, #ff0000, #ff5733);
  color: white;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}
.custom-button.active {
  background: linear-gradient(135deg, #004494, #0074ad);

  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: none;
}
.custom-button:hover {
  background: linear-gradient(135deg, #0056b3, #0096d6);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}
.custom-button2:hover {
  background: linear-gradient(135deg, #b30000, #cc2900);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

.custom-button:active, .custom-button2:active  {
  transform: translateY(1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

@media (forced-colors: active) {
  body {
    forced-color-adjust: none;
    background-color: Canvas;
    color: CanvasText;
  }
}